<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Buku <%= data.title %></h1>
        <button type="button" onclick="location.href='/admin/<%= data.id %>/edit'">Edit Book</button>
        <button type="button" onclick="location.href='/admin'">Back</button>
        <p>Title: <%= data.title %></p>
        <p>Genre: <%= data.genre %></p>
        <p>Book Code: <%= data.bookCode %></p>
        <p>Publish Date: <%= formatDate(data.publish) %></p>
        <p>Description:</p>
        <textarea disabled><%= data.description %></textarea>
        <p>Published By: <%= data.Profile.fullName %></p>
    </div>
</body>
</html>