<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<body>
    <div style="text-align: center;margin-bottom: 20px;">
        <h1>All Books</h1>
        <button type="button" onclick="location.href='/'">Back</button>
    </div>
    <table>
        <tr>
            <th>No</th>
            <th>Title</th>
            <th>Book Code</th>
            <th>Publish</th>
            <th>Publisher</th>
            <th>Total Like</th>
            <th>Action</th>
        </tr>
        <% data.forEach((el, index) => { %>
            <tr>
                <td><%= index + 1 %></td>
                <td><%= el.title %></td>
                <td><%= el.bookCode %></td>
                <td><%= formatDate(el.publish) %></td>
                <td><%= el.Profile.fullName %></td>
                <td><%= el.Likes.length %></td>
                <td>
                    <button type="button" onclick="location.href='/visitor/<%= el.id %>'">See More</button>
                </td>
            </tr>
        <% }) %>
    </table>
</body>
</html>